<div class="info__inner">
  <div class="info__section">
    <h1 class="info__title">Phantom Islands – A Sonic Atlas</h1>
  </div>
  <div class="info__section info__section--soft">
    <p class="info__copy">Phantom Islands are artifacts of the age of maritime discovery and colonial expansion. During centuries of ocean exploration these islands were sighted, charted, described and even explored – but their existence has never been ultimately verified. Poised somewhere between cartographical fact and maritime fiction, they haunted seafarers’ maps for hundreds of years, inspiring legends, fantasies, and counterfactual histories. Phantom Islands – A Sonic Atlas interprets and presents these imaginations in the form of an interactive map which charts the sounds of a number of historical phantom islands.</p>
  </div>
  <div class="info__section info__section--soft">
    <div class="info__row">
      <p class="info__copy info__copy--small">
        <img class="info__icon" src=<%= islandsIcon %> />
        Zoom in on individual phantom islands to hear their musical, biophonic and geophonic soundscapes.
      </p>
      <p class="info__copy info__copy--small">
        <img class="info__icon" src=<%= navigateIcon %> />
        Navigate around the map and click on islands’ names to learn the circumstances of their discovery and the dates of their cartographical existence. 
      </p>
    </div>
    <p class="info__copy info__copy--small info__copy--center">
      &hellip;or engage <span class="caps">Cruise mode</span> to be taken on an audio tour of all the Phantom Islands. 
    </p>
  </div>
  <% if(isAbout) { %>
    <div class="info__section info__section--liquid">
      <p class="info__copy">Phantom Islands - A Sonic Atlas was comissioned for the exhibition <a href="http://espacevirtuel.jeudepaume.org/fourth-worlds-3395/" target="_blank">Fourth Worlds: Imaginary Ethnography in Music and Sound.</a>Produced with the Support of Jeu de Paume and DICRéAM, CNC.</p>
    </div>
    <div class="info__section info__section--liquid">
      <p class="info__copy">Concept, Sound and Text <a href="https://soundcloud.com/pekler" target="_blank"><b>Andrew Pekler</b></a></p>
      <p class="info__copy">Design and Development <a href="https://twitter.com/flaviogortana" target="_blank"><b>Flavio Gortana</b></a></p>
      <p class="info__copy">Research and Text <a href="http://www.etaboeklund.de/" target="_blank"> <b>Kiwi Menrath</b></a></p>
    </div>
    <div class="info__section info__section--soft">
      <p class="info__copy">Share: <a target="_blank" class="info__share-button"
  href="https://twitter.com/intent/tweet?text=Phantom%20Islands%20%E2%80%93%20A%20Sonic%20Atlas.%20An%20interactive%20map%20that%20charts%20the%20sounds%20and%20histories%20of%20islands%20that%20were%20sighted%2C%20described%20and%20explored%20but%20never%20proven%20to%20have%20existed.&url=http://andrewpekler.com/phantom-islands">Twitter</a> <a target="_blank" class="info__share-button"
  href="https://www.facebook.com/sharer/sharer.php?u=http://andrewpekler.com/phantom-islands">Facebook</a>

  </p>
    </div>
  <% } %>
  <div class="info__section info__section--center">
    <% if(isAbout) { %> 
      <span class="info__close">Back to Map</span>
    <% } else { %>
      <span class="info__start">Start</span>
    <% } %>
  </div>

</div>