<div class="info__inner">
  <% if(!hasWebAudio) { %>
    <div class="info__section info__section--center">
      <p class="info__warning">This website is not optimized for mobile browsers. You can <a href="mailto:?subject=Phantom Islands&body=Check out http://andrewpekler.com/phantom-islands/">email yourself</a> a reminder to return to the site.</p>
    </div>
  <% } else { %>
    <div class="info__section info__section--center">
      <p class="info__warning">This website is not optimized for mobile browsers. You can <a href="mailto:?subject=Phantom Islands&body=Check out http://andrewpekler.com/phantom-islands/">email yourself</a> a reminder to return to the site. If you still want to continue on mobile, headphones are recommended.</p>
    </div>
    <div class="info__section info__section--center">
      <span class="info__start">Start Anyway</span>
    </div>
  <% } %>
</div>