<div class="info__inner">
  <div class="info__section">
      <p class="info__warning-title">:(</p>
  </div>
  <div class="info__section info__section--center">
    <p class="info__warning">It appears that your browser doesn't have the audio capabilities needed to run <b>Phantom Islands</b>. Really sorry about that. Why don't you download the latest version of <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> and try again?</p>
  </div>
</div>