<div class="map-popup__header">
  <div class="map-popup__name"><%= name %></div>
  <div class="map-popup__location"><%= locationString %></div>
</div>
<div class="map-popup__main">
  <%= description %>
</div>
<div class="map-popup__footer">
  <div class="map-popup__footer-section">First Appeared</div>
  <div class="map-popup__footer-section">Last Appeared</div>
</div>