<div class="map-popup__inner">
  <div class="map-popup__header">
    <div class="map-popup__name"><%= name %></div>
    <div class="map-popup__location"><%= locationString %></div>
  </div>
  <div class="map-popup__main">
    <%= description %>
  </div>
  <div class="map-popup__footer">
    <div class="map-popup__footer-section">
      <div class="map-popup__section-header">First Appearance</div>
      <div class="map-popup__section-content"><%= firstAppearance %></div>
    </div>
    <div class="map-popup__footer-section">
      <div class="map-popup__section-header">Last Appearance</div>
      <div class="map-popup__section-content"><%= lastAppearance %></div>
    </div>
  </div>
</div>
<svg width="<%= svgWidth %>" height="<%= svgHeight %>" style="transform: translate(<%= svgX %>px, <%= svgY %>px);" class="map-popup__line-svg">
  <line class="map-popup__line" x1="<%= lineStartX %>" y1="<%= lineStartY %>" x2="<%= lineEndX %>" y2="<%= lineEndY %>"></line>
</svg>