.hint {
  position: fixed;

  &--right {
    transform: translateX(-100%);
  }

  &--bottom {
    transform: translateY(-100%);
  }
}

.hint__arrow {
  width: 20px;
  height: 1px;
  background-color: #000;
}
