.info {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.info__inner {
  position: absolute;
  background-color: #fff;
  border: 1px solid $c-black;
  min-width: 300px;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info__section {
  border-bottom: 1px solid $c-black;
  padding: 15px 20px;
  &:last-of-type {
    border-bottom: none;
  }

  &--soft {
    border-bottom-style: dashed;
    //border-bottom-color: #fff;
  }

  &--center {
    text-align: center;
  }
}

.info__title {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.info__copy {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}

.info__warning-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: red;
}

.info__warning {
}

.info__start,
.info__close {
  cursor: pointer;
  background-color: $c-black;
  color: #fff;
  display: inline-block;
  padding: 12px 20px;
  min-width: 200px;
}
