.map-popup {
  position: fixed;
  top: 20px;
  left: 20px;
  border: 1px solid $c-black;
  width: 450px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.map-popup__inner {
  position: relative;
  z-index: 1;
  background-color: rgba(#fff, 1);
}

.map-popup__header {
  border-bottom: 1px solid $c-black;
  display: flex;
  justify-content: space-between;
}

.map-popup__name,
.map-popup__location,
.map-popup__main,
.map-popup__footer-section {
  padding: 12px 15px;
}

.map-popup__main {
  line-height: 1.65em;
}

.map-popup__location {
  border-left: 1px solid $c-black;
}

.map-popup__footer {
  border-top: 1px solid $c-black;
  display: flex;
}

.map-popup__footer-section {
  width: 50%;
  border-right: 1px solid $c-black;

  &:last-child {
    border: none;
  }
}

.map-popup__line-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
}

.map-popup__line {
  fill: none;
  stroke: #000;
  stroke-dasharray: 2 4;
}

.map-popup__section-header {
  font-weight: 600;
}

.map-popup__section-content {
  line-height: 1.2em;
}
