.map-popup {
  position: fixed;
  top: 20px;
  left: 20px;
  border: 1px solid $c-black;
  width: 450px;
  pointer-events: none;
}

.map-popup__header {
  border-bottom: 1px solid $c-black;
  display: flex;
  justify-content: space-between;
}

.map-popup__name,
.map-popup__location,
.map-popup__main,
.map-popup__footer-section {
  padding: 15px;
}

.map-popup__location {
  border-left: 1px solid $c-black;
}

.map-popup__footer {
  border-top: 1px solid $c-black;
  display: flex;
}

.map-popup__footer-section {
  width: 50%;
  border-right: 1px solid $c-black;

  &:last-child {
    border: none;
  }
}
